mat-sidenav {
    width: 330px;
  }

mat-sidenav-content {
  overflow-x: hidden;
  overflow-y: visible;
  height: calc(100vh - 64px);
}

p{
  padding-left: 30px;
  line-height: 1;
}


.navigation-button {
  padding: 0 6px 0 6px;
  margin: 5px;
  min-width: 88px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  background-color: #4FB3BF;
}

.center-buttons {
  position: absolute;
  bottom: 35px;
  right: 50px;
}

.content-title{
  padding-left: 15px;
}
.content{
  width :100vw;
}

.image {
  height: 30%;
  width: 50%;
}