.toolAttributes {
  padding-left: 120px;
  min-width: 225px;
}

input {
  width: 50px;
}

#activation {
  margin: 0;
  padding: 0 0 0 10px;
}

#title-container {
  display: flex;
  align-items: center;
}

#transparency {
  padding: 0 10px 10px;
}

#grid-size {
  padding: 0 10px 10px;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 2em;
}

.subtitle {
  margin: 10px 0 0;
  padding: 0;
}

mat-slider {
  width: 90% !important;
  margin-top: 20px;
}
