<!-- Boutton pour joindre une lobby -->
<div class="content">
   <mat-list>
       <mat-list-item *ngFor="let lobby of lobbyList.getLobbies()">
           <mat-icon mat-list-icon>sports_esports</mat-icon>
           <h2 mat-line id="lobby">{{'Lobby ' + lobby.id}}</h2>
           <h3 mat-line>{{ lobby.gamemode }}</h3>
           <h4 mat-line>{{ lobby.difficulty }}</h4>
           <h4 mat-line>{{ 'Joueurs: ' + lobby.players.length + '/' + lobby.getMaxPlayers() }}</h4>
           <button mat-raised-button *ngIf="isInLobby(lobby.id)" color="accent" (click)="leaveLobby()">Quitter</button>
           <button mat-raised-button *ngIf="!isInLobby(lobby.id)" [disabled]="lobby.players.length >= lobby.getMaxPlayers()" color="primary" (click)="joinLobby(lobby.id)">Rejoindre</button>
           <mat-divider></mat-divider>
       </mat-list-item>
   </mat-list>
   <div id="addLobby">
        <button mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            Créer un lobby
        </button>
    </div>
</div>



