<div class = "colorPickerBackground">
  <div class="input-wrapper" [ngStyle]="{'background-color': color.strFormat()}">
  </div>
  <div class="color-wrapper">
    <app-color-palette></app-color-palette>
    <app-color-slider style="margin-left:16px"></app-color-slider>
  </div>
  <div class="valueInput">
    <p>#</p>
    <input #h id="hexValue"
              type="text"
              spellcheck="false"
              value={{color.strFormatHex().toUpperCase()}}
              [ngClass]="isValidHex ? 'valid' : 'invalid'"
              (keyup)="changeHex($event.target.value)">
  </div>
  <div class = "rgbaValues">
    <div class="valueInput">
      <p>R</p>
      <input #r type="text"
                value={{color.getR()}}
                [ngClass]="isValidR ? 'valid' : 'invalid'"
                 (keyup)="changeColor($event.target.value, 'r')">
    </div>
    <div class="valueInput">
      <p>G</p>
      <input #g type="text"
                value={{color.getG()}}
                [ngClass]="isValidG ? 'valid' : 'invalid'"
                (keyup)="changeColor($event.target.value, 'g')">
    </div>
    <div class="valueInput">
      <p>B</p>
      <input #b type="text"
                value={{color.getB()}}
                [ngClass]="isValidB ? 'valid' : 'invalid'"
                (keyup)="changeColor($event.target.value, 'b')">
    </div>
    <div class="valueInput">
      <p>A</p>
      <input type="text"
             value={{color.getA()}}
             [ngClass]="isValidA ? 'valid' : 'invalid'"
             (keyup)="changeAlpha($event.target.value)">
    </div>
  </div>
  <div #selectBtn class= "selectColorBtn">
    <button [disabled]="!isValid" mat-raised-button (click) = 'selectedValue()'>Confirmer</button>
  </div>
</div>
