.tree-invisible {
  display: none;
}

.expandTree{
  display: block;

}
.menu ul,
.menu li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

button{
  border: none;
  background-color:#fff;
  color: #43405A;
}

button:hover:not(.description-selected) {
  background-color:#ffe489;
  color: #000;
}

button:active{
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.40), 0 8px 25px 0 rgba(0,0,0,0.25);
}

.description-selected{
  background-color:#f5bd07;
  color: #000;
}
.menu {
  background-color:#fff;
  color: #000;
}
