.toolbar {
    height: 100vh;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: fixed;
    background-color: #43405A;
}
#colorPickerDiv {
    padding-left: 127px;
}
#switchBtn {
    padding-top: 20px;
    padding-left: 120px;
}
#tenLastColors {
    padding-top: 20px;
}
.inner {
    flex-wrap: wrap;
    height: 50%;
    display: flex;
}

.top {
    flex-direction: row;
    justify-content: flex-start;
}

.bottom {
    flex-direction: row;
    justify-content: flex-end;
}

.material {
    width: 55px;
    height:50px;
    margin: 1px;
}

.icon {
  padding: 0;
  display: inline-block;
  line-height: 10px;
}


.swapButton {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


#attributeButton {
    background-color: grey;
}

#attributeButton:hover {
  background-color:#fff;
}


mat-icon {
    padding: 0;
    display: block;
    line-height: 10px;
}

.button-color {
    width: 75px;
    height: 30px;
}
.slider-container {
    float: right;
    padding-right: 10px;
    width: 210px;
    height: 25px;
}

.titles-container {
    float: right;
    padding-right: 10px;
    width: 200px;
    height: 25px;
}

#color-title {
    float: right;
    padding-left: 5px;
    padding-right: 38px;
    height: 5px;
}
#ten-last-title {
    float: right;
    padding-right: 30px;
    height: 8px;
}

#primary-title {
    float: left;
}

#secondary-title {
    float: right;
}

#primary-slider {
    float: left;
    width: 80px;
}

#secondary-slider {
    float: right;
    width: 80px;
}
.drawingTool {
    background-color: #9b59b6;
}

.shapeTool {
    background-color: #3498db;
}

.otherTool {
    background-color: #2ecc71;
}

.navigationButton {
  background-color:#1abc9c;
}

.undoRedo {
  background-color: #e74c3c;
}

button:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.40), 0 8px 25px 0 rgba(0,0,0,0.25);
  background-color:#fff;
}

.toolAttributes {
    background-color: #a198c9;
    height: 100vh;
}
#changeBGColor {
    padding-left: 185px;
    padding-top: 25px;
}

.selected {
    background-color: #f1c40f;
}
.notAvailable {
    background-color: grey;
}
