<div class="toolbar">
    <button *ngIf="toolSelected" mat-fab class="material" title='Fermer menu' id="attributeButton" (click)='toolSelected = !toolSelected'>
      <img class="icon" width="24" height="24" src="assets/iconPictures/closeMenu.svg">
    </button>
    <button *ngIf="!toolSelected" mat-fab class="material" title='Ouvrir menu' id="attributeButton" (click)='toolSelected = !toolSelected'>
      <img class="icon" width="24" height="24" src="assets/iconPictures/openMenu.svg">
    </button>

    <div class="inner top">
        <button  mat-fab class="material" [disabled] = "!undoAvailable" title='Annuler'[ngClass]="'undoRedo'" (click) = 'undo()'>
          <img class="icon" width="24" height="24" aria-hidden="false" aria-label="Example home icon" src="assets/iconPictures/undo.svg">
        </button>
        <button  mat-fab class="material" [disabled] = "!redoAvailable" title='Refaire' [ngClass]="'undoRedo'" (click) = 'redo()'>
          <img class="icon" width="24" height="24" aria-hidden="false" aria-label="Example home icon" src="assets/iconPictures/redo.svg">
        </button>
        <div *ngFor= "let button of buttons">
            <button  mat-fab class="material" (click)='onSelect(button)' title={{button.name}} [ngClass]="button === selectedButton ? 'selected' : button.category">
                <img class="icon" width="24" height="24" aria-hidden="false" aria-label="Example home icon" src="assets/iconPictures/{{button.iconName}}.svg">
            </button>
        </div>

        <button mat-fab class="material" title="Page d'accueil" routerLink="/home" [ngClass]="'navigationButton'">
          <img class="icon" width="24" height="24" src="assets/iconPictures/home.svg">
        </button>
    </div>
</div>
<div [hidden] = "!toolSelected" class="toolAttributes">
    <app-pencil [hidden]="!(selectedButton.tool.name === 'Crayon' && toolSelected)" [tool]='selectedButton.tool'></app-pencil>
    <app-eraser [hidden]="!(selectedButton.tool.name === 'Efface' && toolSelected)"></app-eraser>
    <app-grid-attributes [hidden]="!(selectedButton.tool.name === 'Grille' && toolSelected)" [tool]='selectedButton.tool'></app-grid-attributes>
    <div [hidden] = "!toolSelected" >
        <h3 [hidden] = "!toolSelected" id='color-title'>Couleurs et opacités :</h3>
    </div>

    <div [hidden] = "!toolSelected" class='titles-container'>
        <p [hidden] = "!toolSelected" id='primary-title'>Primaire</p>
        <p [hidden] = "!toolSelected" id='secondary-title'>Secondaire</p>
    </div>

    <div [hidden] = "!toolSelected" id = 'colorPickerDiv'>


        <button  [style.background] = 'primaryColorString' (click) = "openColorPicker(0)" class='button-color'></button>

        <button mat-fab class="swapButton" (click)='switchPrimaryAndSecondary()' [hidden]="!toolSelected">
            <mat-icon aria-hidden="false" aria-label="Example home icon">swap_horiz</mat-icon>
        </button>
        <button [style.background] = 'secondaryColorString' (click) = "openColorPicker(1)" class='button-color'></button>

    </div>

    <div [hidden] = "!toolSelected" class=slider-container>
        <input #sliderPrim type="range" min="0" max="1" value="1" step="0.01" [hidden] = "!toolSelected" id="primary-slider" (input) = 'changePrimaryAlpha($event)'>
        <input #sliderSec type="range" min="0" max="1" value="1" step="0.01" [hidden] = "!toolSelected" id="secondary-slider" (input) = 'changeSecondaryAlpha($event)'>
    </div>

    <div [hidden] = "!toolSelected">
        <h3 [hidden] = "!toolSelected" id='ten-last-title'>10 dernières couleurs:</h3>
    </div>

    <div [hidden] = "!toolSelected" id = 'tenLastColors'>
        <app-last-selected-colors [hidden] = "!toolSelected"></app-last-selected-colors>
    </div>
    <div id = 'changeBGColor' [hidden] = "!toolSelected">
        <a mat-raised-button [hidden] = "!toolSelected"  (click) = "changeBackgroundColor()">Couleur de fond</a>
    </div>
</div>
