#alignedBtn{
    padding-top: 20px;
    list-style-type: none;
}
#form{
    float: right;
}
#errorDiv{
    text-align: center;
    padding-top: 100px;
    color: red;
}
#divFermer{
    display: block;
}
#titre{
    text-align: center;
    display: block;
}
.inputs{
    background-color: transparent;
    border-radius: 0;
    border: 2px solid black;
    color: black;
    height: 45px;
}
