<mat-card class="animated-background accelerated">
  <div style="width: 100%; height: 100%" class="fade-in accelerated">
    <div class="row">
      <p id="title">POLYDESSIN</p>
    </div>
    <div id="content" class="row">
      <mat-card-actions class="button-position">
        <button mat-button (click) = "openNewDrawingDialogs()">
          <mat-icon class="icon">add</mat-icon>
          <br>
          NOUVEAU DESSIN
        </button>
      </mat-card-actions>
      <mat-card-actions class="button-position">
        <button mat-button (click) = "openUserGuideDialog()">
          <mat-icon class="icon">book</mat-icon>
          <br>
          GUIDE D'UTILISATION
        </button>
      </mat-card-actions>
      <mat-card-actions class="button-position">
        <button mat-button (click) = "openGallerie()">
          <mat-icon class="icon">collections</mat-icon>
          <br>
          GALLERIE DESSIN
        </button>
      </mat-card-actions>
      <div *ngIf = isDrawingInLocalStorage()>
        <mat-card-actions class="button-position">
          <button #btnContinue mat-button (click) = "continueDrawing()" routerLink = "/draw">
            <mat-icon class="icon">arrow_forward_ios</mat-icon>
            <br>
            CONTINUER
          </button>
        </mat-card-actions>
      </div>

    </div>
  </div>
</mat-card>
