.chip {
  background-color: #c9c9c9;
  color: black;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 15px;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  display: inline-block
  
}

mat-spinner{
  margin:0 auto;
}

canvas {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  margin-left: 50%;
  margin-right: 50%;
}

#chipList {
  float: left;
}

#button {
  flex-direction: column;
}

h1 {
  color: black;
}

#open {
  background-color: #ffe489;
  margin: 5px;
  height: 35px;
}

#delete {
  background-color: rgba($color: #DA3F1E , $alpha: 1);
  margin: 5px;
  height: 35px;
}

#metaDatas {
  display: grid;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  grid-template-columns: auto auto auto;
  padding: 10px;
  
}

.metaData{
  background-color: #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title{
  margin-left: 50%;
  margin-right: 50%;
}
