<div class="toolAttributes">
    <h1>{{name}}</h1>
    <p>Taille : <input #sizeInput [(ngModel)]="size" (change)="onValueChange($event, 'LineSize')" (keyup)="onInput($event, 'LineSize')" type="number" min="1" max="25"/>px</p>
    <mat-slider min="1" max="25" step="1" [(ngModel)]="size" (input)="onSizeSliderChange($event)" aria-hidden="false"></mat-slider>
    <p>
        <mat-checkbox [(ngModel)]="hasJunctionPoints" (click)="onJunctionChange($event)">Jonction avec point </mat-checkbox>
    </p>
    <div [hidden]="!(hasJunctionPoints)">
        <p>Diamètre des points : <input #junctionDiameterInput [(ngModel)]="junctionDiameter" (keyup)="onInput($event, 'Junction')" (change)="onValueChange($event, 'Junction')" type="number" min="1" max="50"/>px</p>
        <mat-slider min="1" max="50" step="1" [(ngModel)]="junctionDiameter" (input)="onJunctionSliderChange($event)" aria-hidden="false"></mat-slider>
    </div>
</div>