.toolAttributes {
    padding-left: 120px;
    min-width: 225px;
}

.radioButtonGroup {
    flex-direction: column;
    display: block;
}

.radioButton{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.sizeContainer {
    border: 10px;
    border-color: red($color: #f00101);
}

input {
    width: 50px;
}
