<div class="toolAttributes">
    <p>Type de la forme : </p>
    <mat-radio-group class="radioButtonGroup" aria-label="Select an option" [(ngModel)]="shapeType">
        <mat-radio-button class="radioButton" (change)="onTypeChange($event)" *ngFor="let type of shapeTypeArray" [value]="type">{{type}}</mat-radio-button>
    </mat-radio-group>

    <div [hidden]="(shapeType === 'Plein')">
        <div class="sizeContainer">
            <p>Taille du contour : <input #lineSizeInput [(ngModel)]="lineSize" (keyup)="onInput($event)" (change)="onValueChange($event)" type="number" min="1" max="50"/>px</p>
        </div>
        <mat-slider min="1" max="50" step="1" [(ngModel)]="lineSize" (input)="onLineSizeChange($event)" aria-hidden="false"></mat-slider>
    </div>
</div>
